# Игнорировать скомпилированные исполняемые файлы в папке example
example/app

# Игнорировать все объектные файлы
*.o
*.a
*.so
/aur

# Игнорировать временные файлы редакторов и системный мусор
*.swp
*~
.DS_Store
.vscode/
*.sp
